.social-icons{
    display: inline-flex;
    gap: 10px;
}
.social-icons a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  display: inline-flex;
  align-items: center;  
  justify-content: center;
}
.social-icons a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icons a:hover::before {
  transform: scale(1);
}
.social-icons a svg {
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover svg {
  filter: brightness(0%);
}
